@model WebApplication_Vy.Models.DTO.TicketDTO

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "@Url.Action("gettrips", "home")",
            type: "GET",
            dataType: "json",
            success: function (trips) {
                console.log(trips);
                showDropDown(trips)
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        function showDropDown(trips) {
            var dropdown = "";
            for (var i in trips) {
                dropdown += "<option value='" + trips[i].TripId + "'>" + trips[i].Route + " - " + trips[i].Price + " kr</option>";
            }
            $("#tripId").append(dropdown);
        }

        $("#register").click(function () {
            var jsonIn = {
                Departure: $("#dateandtime").val(),
                Roundtrip: $("#roundtrip").is(":checked"),
                Trip: {
                    TripId: $("#tripId").val(),
                },
                Customer: {
                    Givenname: $("#givenname").val(),
                    Surname: $("#surname").val(),
                    Address: $("#address").val(),
                    Zipcode: {
                        Postalcode: $("#zipcode").val(),
                    }
                },
                
            }
            console.log(jsonIn);

            $.ajax({
                url: "@Url.Action("registerticket", "home")",
                type: "POST",
                data: JSON.stringify(jsonIn),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    if (response.result == 'True') {
                        window.location = response.url;
                    }
                }
            });
        });//End register

        $("#postalcode").on('change', function () {
            var postalcode = $("#postalcode").val()
            console.log("form: " + postalcode);

            var jsonin = {
                Postalcode: postalcode,
            };

            if (postalcode.length == 4) {
                $.ajax({
                    url: "@Url.Action("searchzip", "home")",
                    type: 'POST',
                    data: JSON.stringify(jsonin),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        $('#postaltown').text(response);
                    }
                })
            } else {
                $('#postaltown').text("");
            }
        });

        //Form spesific javascript
        $('#dateandtime').datetimepicker({
            datepicker: { showOtherMonths: true, calendarWeeks: true }
        });
    })
</script>
<div id="ajax_form">
    @using (Ajax.BeginForm("RegisterTicket", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { id = "dateandtime", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Route</label>
                <div class="col-md-10">
                    <select id="tripId" name="from" class="custom-select form-control">
                        <option value="" selected>Choose a route...</option>
                    </select>
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Roundtrip, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.Roundtrip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Roundtrip, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDTO.Givenname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerDTO.Givenname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerDTO.Givenname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDTO.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerDTO.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerDTO.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDTO.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerDTO.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerDTO.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDTO.ZipcodeDTO.Postalcode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerDTO.ZipcodeDTO.Postalcode, new { htmlAttributes = new { id = "postalcode", @class = "form-control" } })
                        <label id="postaltown"></label>
                        @Html.ValidationMessageFor(model => model.CustomerDTO.ZipcodeDTO.Postalcode, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 text-success">
                        @ViewBag.Records
                    </div>
                </div>

            </div>
    }
</div>