@model WebApplication_Vy.Models.DTO.TripData.TripDTO

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>
<script type="text/javascript">
    $(function () {
        @*$.ajax({
            url: "@Url.Action("gettrips", "home")",
            type: "GET",
            dataType: "json",
            success: function (trips) {
                console.log(trips);
                showDropDown(trips)
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });*@

        @*$.ajax({
            url: "@Url.Action("SearchStation", "Home")",
            type: 'POST',
            data: $('.departure').val(),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                var stations = response;
            }
        });*@

        var stationsData = @Html.Raw(Json.Encode(@ViewBag.Stations));
        var stations = [];
        $.each(stationsData, function (index, value) { stations.push(value.Name) });
        console.log(stations);

    

        function showDropDown(trips) {
            var dropdown = "";
            for (var i in trips) {
                dropdown += "<option value='" + trips[i].TripId + "'>" + trips[i].Route + " - " + trips[i].Price + " kr</option>";
            }
            $("#tripId").append(dropdown);
        }

        $("#postalcode").on('input', function () {
            var postalcode = $("#postalcode").val();
            var jsonin = {
                Postalcode: postalcode,
            };

            if (postalcode.match("[0-9]{4}")) {
                $.ajax({
                    url: "@Url.Action("searchzip", "home")",
                    type: 'POST',
                    data: JSON.stringify(jsonin),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        $('#postaltown').val(response);
                    }
                });
            } else {
                $('#postaltown').val("");
            }
        });

        //Form spesific javascript
        //$('#dateandtime').datetimepicker({
        //    uiLibrary: 'bootstrap4'
        //});

        $('.departure').autocomplete({
            source: stations 
        });
    });
</script>
<div id="ajax_form">
    @using (Ajax.BeginForm("Trips", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Line.Departure_Station, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Line.Departure_Station.Name, new { htmlAttributes = new { id = "", @class = "departure form-control" } })
                <p id="chosen"></p>
                @Html.ValidationMessageFor(model => model.Line.Departure_Station.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Line.Arrival_Station.Name, "Destination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Line.Arrival_Station.Name, new { htmlAttributes = new { id = "", @class = "form-control" } })
                <label id="postaltown"></label>
                @Html.ValidationMessageFor(model => model.Line.Arrival_Station.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Departure_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Departure_Time, new { htmlAttributes = new { id = "dateandtime", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Departure_Time, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Videre" class="btn btn-success" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-success">
                @ViewBag.Records
            </div>
        </div>

    }
</div>