@model WebApplication_Vy.Models.DTO.TripData.TripQuerryDTO

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>
<script type="text/javascript">

var time = ["10:00", "12:00", "14:00", "16:00", "18:00"];
for(var i = 0; i < time.length; i++) {
    var id = document.getElementById("timeDropDown")
    
    
}
    

    $(function () {

        $("#timeDropDown").dropdown({
        source: time
        });
        var stations = [];
        var stationsData = fetch("https://itinerary.cloud.nsb.no/api/stops", { "credentials": "omit", "headers": { "accept": "application/json", "sec-fetch-mode": "cors", "x-language": "no" }, "referrer": "https://www.vy.no/bestill/velg-togavgang?from=Oslo%20S&fromDisplayName=Oslo%20S&fromType=train-station-name&to=Bergen&toDisplayName=Bergen&toType=train-station-name&departureDatetime=2019-09-24%2010%3A28&petFree=false&pasCats=1&numPasCats=1", "referrerPolicy": "no-referrer-when-downgrade", "body": null, "method": "GET", "mode": "cors" })
            .then(data => data.json()).then(data => {
                $.each(data, function (index, value) { stations.push(value.name) });
            });
        console.log(stations);

        $("#postalcode").on('input', function () {
            var postalcode = $("#postalcode").val();
            var jsonin = {
                Postalcode: postalcode,
            };

            if (postalcode.match("[0-9]{4}")) {
                $.ajax({
                    url: "@Url.Action("searchzip", "home")",
                    type: 'POST',
                    data: JSON.stringify(jsonin),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        $('#postaltown').val(response);
                    }
                });
            } else {
                $('#postaltown').val("");
            }
        });
        var date = new Date();
        date.setDate(date.getDate()-1);

        //Form spesific javascript
        $('#dateandtime').datepicker({
           minDate: date,
           uiLibrary: 'bootstrap4',
           format: "dd/mm/yyyy"
        });

        $('.dropdown').autocomplete({
            source: stations 
        });
    });
</script>
<div id="ajax_form">
    @using (Ajax.BeginForm("Trips", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Departure_Station, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Departure_Station, new { htmlAttributes = new { id = "", @class = "dropdown form-control" } })
                <p id="chosen"></p>
                @Html.ValidationMessageFor(model => model.Departure_Station, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Arrival_Station, "Destination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-4">.col
                @Html.EditorFor(model => model.Arrival_Station, new { htmlAttributes = new { id = "", @class = "dropdown form-control" } })
                <label id="postaltown"></label>
                @Html.ValidationMessageFor(model => model.Arrival_Station, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { id = "dateandtime", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="timeDropDown">
          </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Videre" class="btn btn-success" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-success">
                @ViewBag.Records
            </div>
        </div>

    }
</div>