@model WebApplication_Vy.Models.DTO.TripData.TripQuerryDTO

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>
<script type="text/javascript">
    $(function () {
        @*$.ajax({
            url: "@Url.Action("gettrips", "home")",
            type: "GET",
            dataType: "json",
            success: function (trips) {
                console.log(trips);
                showDropDown(trips)
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });*@

        @*$.ajax({
            url: "@Url.Action("SearchStation", "Home")",
            type: 'POST',
            data: $('.departure').val(),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                var stations = response;
            }
        });*@

        var stationsData = @Html.Raw(Json.Encode(@ViewBag.Stations));
        var stations = [];
        $.each(stationsData, function (index, value) { stations.push(value.Name) });
        console.log(stations);

        $("#postalcode").on('input', function () {
            var postalcode = $("#postalcode").val();
            var jsonin = {
                Postalcode: postalcode,
            };

            if (postalcode.match("[0-9]{4}")) {
                $.ajax({
                    url: "@Url.Action("searchzip", "home")",
                    type: 'POST',
                    data: JSON.stringify(jsonin),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        $('#postaltown').val(response);
                    }
                });
            } else {
                $('#postaltown').val("");
            }
        });
        var date = new Date();
        date.setDate(date.getDate()-1);

        //Form spesific javascript
        $('#dateandtime').datepicker({
           minDate: date,
           uiLibrary: 'bootstrap4',
           format: "dd/mm/yyyy"
        });

        $('.departure').autocomplete({
            source: stations 
        });
    });
</script>
<div id="ajax_form">
    @using (Ajax.BeginForm("Trips", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Departure_Station, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Departure_Station, new { htmlAttributes = new { id = "", @class = "departure form-control" } })
                <p id="chosen"></p>
                @Html.ValidationMessageFor(model => model.Departure_Station, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Arrival_Station, "Destination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Arrival_Station, new { htmlAttributes = new { id = "", @class = "form-control" } })
                <label id="postaltown"></label>
                @Html.ValidationMessageFor(model => model.Arrival_Station, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { id = "dateandtime", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Videre" class="btn btn-success" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 text-success">
                @ViewBag.Records
            </div>
        </div>

    }
</div>