@model List<WebApplication_Vy.Models.DTO.CustomerDTO>

@{
    ViewBag.Title = "Tickets";
}
<script type="text/javascript">
    $(function () {

        $("#table").on("mouseenter", ".button-row", function () {
            console.log(this)
            $(this).css('cursor', 'pointer')
            $(this).css('background-color', '#e6e6e6')
        });

        $("#table").on("mouseleave", ".button-row", function () {
            console.log(this)
            $(this).css('background-color', '#00866e')
        });

        $("#table").on("click", ".button-row", function () {
            console.log(this)
            $(this).next().slideToggle()
        });
    });
</script>

<h2>About</h2>

<p>
    @Html.ActionLink("New Ticket", "Index")
</p>
<div id="table">
    @foreach (var item in Model)
    {
        <div class="row button-row" style="background-color:#00866e">
            <div class="col">
                @item.Givenname
            </div>
            <div class="col">
                @item.Surname
            </div>
        </div>
        <div id="hidden" style="display:none">
            <div class="row">
                <div class="col">
                    <p><b>Dep. Station</b></p>
                </div>

                <div class="col">
                    <p><b>Dep. Time</b></p>
                </div>

                <div class="col">
                    <p><b>Arr. Station</b></p>
                </div>

                <div class="col">
                    <p><b>Arr. Time</b></p>
                </div>

                <div class="col">
                    <p><b>Duration</b></p>
                </div>

                <div class="col">
                    <p><b>Changes</b></p>
                </div>

                <div class="col">
                    <p><b>Price</b></p>
                </div>
            </div>
            @foreach (var ticket in item.Tickets)
            {
                <div class="row">
                    <div class="col">
                        @ticket.DepartureStation
                    </div>
                    <div class="col">
                        @ticket.DepartureTime
                    </div>
                    <div class="col">
                        @ticket.ArrivalStation
                    </div>
                    <div class="col">
                        @ticket.ArrivalTime
                    </div>
                    <div class="col">
                        @ticket.Duration
                    </div>
                    <div class="col">
                        @ticket.TrainChanges
                    </div>
                    <div class="col">
                        @ticket.Price
                    </div>
                </div>
            }
        </div>
    }
    </div>
