@model List<WebApplication_Vy.Models.DTO.CustomerDTO>

@{
    ViewBag.Title = "Customers";
}
<script type="text/javascript" src="~/Scripts/View_specific_scripts/tickets.js"></script>

<div class="row">
    <h2>Customers</h2>
</div>

<div class="row pl-1">
    <p>
        @Html.ActionLink("New Ticket", "Index", "Home", null, new { @class = "btn btn-outline-success" })
    </p>
</div>
<div id="table">
    @foreach (var item in Model)
    {
        <div class="row button-row p-3 border-top mt-2" style="background-color: #DBF0E0;">
            <div class="col font-weight-bold">
                @item.Givenname
            </div>
            <div class="col font-weight-bold">
                @item.Surname
            </div>
            <div class="col font-weight-bold">
                @item.Email
            </div>
        </div>
        <div id="hidden" class="mb-2" style="display:none">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Dep. Station</th>
                        <th scope="col">Arr. Station</th>
                        <th scope="col">Time</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in item.Tickets)
                    {
                        <tr>
                            <th class="font-weight-bold">@t.DepartureStation</th>
                            <td class="font-weight-bold">@t.ArrivalStation</td>
                            <td>@t.DepartureTime - @t.ArrivalTime</td>
                            <td>@t.Duration</td>
                            <td>@t.Price</td>
                            <td id="cardNumber">@t.CreditCard.Card_Number</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
