@model List<WebApplication_Vy.Models.DTO.TicketDTO>

@{
    ViewBag.Title = "Tickets";
}

<h2>About</h2>

<p>
    @Html.ActionLink("New Ticket", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].DepartureStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ArrivalStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TrainChanges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Givenname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Zipcode.Postalcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.DepartureStation
        </td>
        <td>
            @item.ArrivalStation
        </td>
        <td>
            @item.DepartureTime
        </td>
        <td>
            @item.ArrivalTime
        </td>
        <td>
            @item.Price
        </td>
        <td>
            @item.Duration
        </td>
        <td>
            @item.TrainChanges
        </td>
        <td>
            @item.Customer.Surname
        </td>
        <td>
            @item.Customer.Givenname
        </td>
        <td>
            @item.Customer.Address
        </td>
        <td>
            @item.Customer.Zipcode.Postalcode
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
