@model List<WebApplication_Vy.Models.DTO.TicketDTO>

@{
    ViewBag.Title = "Tickets";
}

<h2>About</h2>

<p>
    @Html.ActionLink("New Ticket", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Roundtrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Trip.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Trip.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Givenname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Customer.Zipcode.Postalcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Departure
        </td>
        <td>
            @item.Roundtrip
        </td>
        <td>
            @item.Trip.Route
        </td>
        <td>
            @item.Trip.Price
        </td>
        <td>
            @item.Customer.Surname
        </td>
        <td>
            @item.Customer.Givenname
        </td>
        <td>
            @item.Customer.Address
        </td>
        <td>
            @item.Customer.Zipcode.Postalcode
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
