@model WebApplication_Vy.Models.DTO.TicketDTO

@{
    ViewBag.Title = "TicketPreview";
}

<h2>TicketPreview</h2>

<div>
    <h4>TicketDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roundtrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roundtrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
