@model WebApplication_Vy.Models.DTO.TripData.TripsDTO

@{
    ViewBag.Title = "Trips";
}
<div class="row">
    <h2 class="display-4">Showing alternatives from @ViewBag.Model.Departure_Station to @ViewBag.Model.Arrival_Station</h2>
</div>
<div class="row sub-header">
</div>

    <script type="text/javascript">
    $(function () {
        var trip = @Html.Raw(Json.Encode(@ViewBag.Model));
        $("#trips").hide();
        console.log(trip);

        const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var date = new Date("@ViewBag.Model.Date" + "T" + "@ViewBag.Model.Time")
        $(".sub-header").append("<h3 class=\"font-weight-normal\">" + weekdays[date.getDay()] + " " + date.getDate() + ". " + months[date.getMonth()] + " " + date.getFullYear() + " " + date.getHours() + ":" + ( (date.getMinutes()<10?'0':'') + date.getMinutes() ) + "</h3>")

        //Querry to vy api
        var itineraries = "";
        trips = fetch("https://booking.cloud.nsb.no/api/itineraries/search", {
            "credentials": "omit", "headers": { "accept": "application/json", "content-type": "application/json", "sec-fetch-mode": "cors", "x-language": "no" },
            "referrer": "https://www.vy.no/bestill/velg-togavgang?from=" + trip.Departure_Station + "%20S&fromDisplayName=" + trip.Departure_Station  + "%20S&fromType=train-station-name&to=" + trip.Arrival_Station + "&toDisplayName=" + trip.Arrival_Station + "&toType=train-station-name&departureDatetime=" + trip.Date + "%20" + trip.Time.split(":")[0] + "%3A" + trip.Time.split(":")[1] + "&petFree=false&pasCats=1&numPasCats=1",
            "referrerPolicy": "no-referrer-when-downgrade", "body": "{\"to\":\"" + trip.Arrival_Station + "\",\"from\":\"" + trip.Departure_Station  + "\",\"time\":\"" + trip.Date + "T" + trip.Time + "\",\"limitResultsToSameDay\":true,\"language\":\"no\",\"passengers\":[{\"type\":\"ADULT\",\"customerNumber\":null,\"discount\":\"NONE\",\"extras\":[]}],\"priceNecessity\":\"REQUIRED\"}", "method": "POST", "mode": "cors"
        }).then(data => data.json()).then(data => {
            //Loads the result
            itineraries = data.itineraries;
            //For each departure
            $.each(itineraries, function (i, value) {
                console.log(value)
                //Finds how many changes it has
                var steps = value.legs;
                var changes = -1;
                for (var train of steps) {
                    if (train.transportType == "TRAIN") {
                        changes++;
                    }
                }

                //Sets suitable text to the ammount of changes
                var changesText;
                if (changes == 0) {
                    changesText = "Direct";
                } else if (changes == 1) {
                    changesText = "1 change";
                } else {
                    changesText = changes + " changes";
                }

                const temp = value.duration;
                const duration = (temp.days !== 0 ? temp.days + "d " : "") + (temp.hours !== 0 ? temp.hours + "h " : "") + (temp.minutes !== 0 ? temp.minutes + "m " : "")

                //Displays the result
                $("#trips").append(" <div class=\"container\"><form action=\"@Url.Action("trips", "home")\" method=\"POST\">\
                        <div id=\"" + i + "\" class=\"border-top border-bottom rounded form-group\" >\
                            <div class=\"row text-center button-row p-3 \">\
                                <div class=\"col font-weight-bold\">\
                                    <input type=\"text\" hidden name=\"Departure_Time\" value=" + value.departureScheduled.match("[0-9]{2}:[0-9]{2}") + ">" + value.departureScheduled.match("[0-9]{2}:[0-9]{2}") + " <span> - </span>\
                                    <input type=\"text\" hidden name=\"Arrival_Time\" value=" + value.arrivalScheduled.match("[0-9]{2}:[0-9]{2}") + ">" + value.arrivalScheduled.match("[0-9]{2}:[0-9]{2}") + "\
                                </div>\
                                <div class=\"col\" ><input type=\"text\" hidden name=Duration value=\'" + duration + "\'>" + duration + "</div>\
                                <div class=\"col\" ><input type=\"text\" hidden name=Train_Changes value=\"" + changesText + "\">" + changesText + "</div>\
                                <div class=\"col\" ><input type=\"number\" hidden name=Price value=\"" + value.priceOptions[value.priceOptions.length - 1].amount + "\">" + value.priceOptions[value.priceOptions.length - 1].amount + " kr</div>\
                                <div><input type=\"text\" hidden name=Date value=\"" + value.departureScheduled.split("T")[0] +"\"></div>\
                                <div><input type=\"text\" hidden name=Departure_Station value=\"" + value.from +"\"></div>\
                                <div><input type=\"text\" hidden name=Arrival_Station value=\"" + value.to +"\"></div>\
                                <div><input type=\"checkbox\" hidden name=Round_Trip value=\"@ViewBag.Model.Round_Trip\" checked></div>\
                            </div>\
                            <div id=\"hidden_" + i + "\" class=\"row mt-4 align-items-end\" style=\"display: none;\">\
                            </div>\
                        </div>\
                    </form></div>");

                //Appends more info, but hidden
                var hidden_content = "<div class=\"col ml-5\">"
                $.each(value.legs, function (j, leg) {
                    if (leg.transportType == "TRAIN") {
                        $.each(this.stops, function (k, stop) {
                            if (k == 0) {
                                hidden_content += "<div class=\"row font-weight-bold\">" + stop.name + "</div>"
                                hidden_content += "<div class=\"border-left border-success pl-4\">\<div class=\"row\"><a href=\"\">" + (leg.stops.length - 1) + " stops</a></div>"
                                hidden_content += "<div class=\"col ml-0\" style=\"display: none;\"><div class=\"pl-3\">"
                            } else if (k == leg.stops.length - 1) {
                                hidden_content += "</div></div></div>"
                                hidden_content += "<div class=\"row mb-3 font-weight-bold\">" + stop.name + "</div>"
                            } else {
                                hidden_content += "<div class=\"row\">" + stop.name + "</div>"
                            }
                        })
                    }
                });
                hidden_content += "</div >\
                <div class=\"col text-right m-3\"><button type=\"submit\" class=\"btn btn-success\">Select</button></div>"

                $("#hidden_" + i).append(hidden_content);

            });//end foreach departure

            //Hides the loading spinner and shows the result
            $("#loading").remove();
            $("#trips").show();
        });

        $("#trips").on("mouseenter", ".button-row", function () {
            $(this).css('cursor', 'pointer')
            $(this).css('background-color', '#e6e6e6')
        });

        $("#trips").on("mouseleave", ".button-row", function () {
            $(this).css('background-color', '#ffffff')
        });

        $("#trips").on("click", ".button-row", function () {
            $($(this).siblings()[0]).slideToggle()
        })

        $("#trips").on("click", "a", function (e) {
            e.preventDefault();
            $($(this).parent().next()).slideToggle()
        })
    });

    </script>


    <div id="loading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div id="trips">
    </div>
