@model List<DAL.DTO.CustomerDto>

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/View_specific_scripts/tickets.js"></script>

<div class="container">
    <div class="row">
        <h2 class="display-4">Tickets</h2>
    </div>

    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="th-sm">
                            Email
                        </th>
                        <th class="th-sm">
                            Surname
                        </th>
                        <th class="th-sm">
                            Number of tickets
                        </th>
                        <th style="display: none">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr data-id="@c.Id" class="customer-row">
                            <td>
                                @c.Email
                            </td>
                            <td>
                                @c.Surname
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-primary pt-0 pb-0 -0" data-toggle="modal" data-target="#tickets@(c.Id)">@c.Tickets.Count() &nbsp;|&nbsp; Details</button>
                            </td>
                            @Html.Partial("Tickets_Customer", c)
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Deleting ticket?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this ticket?
                    </div>
                    <div class="modal-footer">
                        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="confirmBtn" href="" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .customer-row:hover{
        cursor: pointer;
        background-color: rgb(108, 117, 125) !important;
        color: white;
    }
</style>


