@model List<DAL.DTO.CustomerDto>

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/View_specific_scripts/tickets.js"></script>

<div class="container">
    <div class="row">
        <h2 class="display-4">Customers</h2>
    </div>

    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="th-sm">
                            Email
                        </th>
                        <th class="th-sm">
                            Surname
                        </th>
                        <th class="th-sm">
                            Number of tickets
                        </th>
                        <th style="display: none">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr data-id="@c.Id">
                            <td>
                                @c.Email
                            </td>
                            <td>
                                @c.Surname
                            </td>
                            <td>
                                @c.Tickets.Count()
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tickets@(c.Id)">Details</button>
                            </td>
                            <td class="modal fade" id="tickets@(c.Id)" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-lg modal modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Tickets for @c.Email</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table tickets-table" cellspacing="0" width="100%">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th >Dep. Station</th>
                                                        <th >Arr. Station</th>
                                                        <th >Time</th>
                                                        <th >Duration</th>
                                                        <th >Price</th>
                                                        <th >Credit Card</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var t in c.Tickets)
                                                    {
                                                        <tr>
                                                            <td class="font-weight-bold">@t.DepartureStation</td>
                                                            <td class="font-weight-bold">@t.ArrivalStation</td>
                                                            <td>@t.DepartureTime - @t.ArrivalTime</td>
                                                            <td>@t.Duration</td>
                                                            <td>@t.Price</td>
                                                            <td id="cardNumber">@t.CreditCard.Card_Number</td>
                                                            <td><button type="button" class="btn btn-outline-danger" data-toggle="modal" id="@t.Id" data-target="#delete">Delete</button></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Deleting ticket?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this ticket?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="confirmBtn" href="" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


