@model WebApplication_Vy.Models.DTO.TripData.TripDTO

@{
    ViewBag.Title = "Trips";
}
<div class="row">
    <h2 class="display-4">Showing alternatives from <span>@ViewBag.Model.Departure_Station</span> to <span>@ViewBag.Model.Arrival_Station</span></h2>
</div>
<div class="row sub-header">
</div>
<script>
    let trip = @Html.Raw(Json.Encode(@ViewBag.Model));

    //Inserting the chosen date
    const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const date = new Date("@ViewBag.Model.Date" + "T" + "@ViewBag.Model.Time");
    $(".sub-header").append("<h3 class='font-weight-normal'>" + weekdays[date.getDay()] + " " + date.getDate() + ". " + months[date.getMonth()] + " " + date.getFullYear() + " " + date.getHours() + ":" + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes()) + "</h3>")
</script>
<script src="~/Scripts/View_specific_scripts/trips.js"></script>


<div id="loading" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="trips">
    <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
        Sorry, we didn't find any trips for the selected date and time. <br />
        Please try another departure. <button class="btn btn-primary" onclick="window.history.go(-1);">Go Back</button>
    </div>
</div>

<style>
    
    h2 span {
        text-transform: uppercase;
        font-weight: 400;
    }
</style>
