<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - Vy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gijgo")
    @Scripts.Render("~/bundles/cleave")
    @RenderSection("scripts", required: false)

</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href='@Url.Action("Index", "Home")' class="navbar-brand ">
            <img src='@Url.Content("~/Content/Assets/vy.png")' style="width:160px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @((Request.RawUrl.Contains("/home") || Request.RawUrl.Equals("/")) ? "active" : "")">
                    @Html.ActionLink("Home", "index", "Home", null, new { @class = "nav-link" })
                </li>
                @if (Session["Auth"] != null && (bool)Session["Auth"])
                {
                    <li class="nav-item @(Request.RawUrl.Contains("/admin")? "active" : "")">
                        @Html.ActionLink("Admin", "index", "admin", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            @if (Session["Auth"] != null && (bool)Session["Auth"])
            {
                <div class="form-inline mr-4">
                    Logged in as:&nbsp; <span class="font-weight-bold"> @Session["Username"]</span>
                </div>
                <div class="form-inline mr-5">
                    @Html.ActionLink("Logout", "logout", "login", null, new { @class = "btn btn-secondary nav-link" })
                </div>
            }
            else
            {
                <div id="loginBtn" class="form-inline my-2 my-lg-0 mr-5">
                    <button type="button" class="btn btn-outline-success nav-link" data-toggle="modal" data-target="#login">Login</button>
                </div>
            }
        </div>
    </nav>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Admin Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/login/login" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                @if (TempData["error"] != null)
                                {
                                    <p class="text-danger">@TempData["error"]</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                @Html.Label("Username", htmlAttributes: new { autofocus = "autofocus", @class = "control-label" })
                                @Html.Editor("Username", new { htmlAttributes = new { required = "required", placeholder = "Username", @class = "form-control" } })
                                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                @Html.Label("Password", htmlAttributes: new { type = "password", @class = "control-label" })
                                @Html.Editor("Password", new { htmlAttributes = new { required = "required", type = "password", placeholder = "Password", @class = "form-control" } })
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.2019 - Vy</p>
        </footer>
    </div>

    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
            $("#login").modal("show")
        </script>
    }

</body>
</html>
