<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - Vy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gijgo")
    @Scripts.Render("~/bundles/cleave")
    @RenderSection("scripts", required: false)

</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href='@Url.Action("Index", "Home")' class="navbar-brand ">
            <img src='@Url.Content("~/Content/Assets/vy.png")' style="width:160px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    @Html.ActionLink("Home", "index", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 mr-5">
                <button type="button" class="btn btn nav-link" data-toggle="modal" data-target="#login">Login</button>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Admin Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-1"></div>
                        <div>
                            <input type="text" placeholder="Username" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-1"></div>
                        <div>
                            <input type="password" placeholder="Password" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="loginBtn" href="" class="btn btn-success">Login</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#login').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var url = `/home/ConfirmLogin`
                var modal = $(this)
                modal.find("#loginBtn").attr("href", url)
            });
        })
    </script>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.2019 - Vy</p>
        </footer>
    </div>
</body>
</html>
