<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - Vy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gijgo")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href='@Url.Action("Index", "Home")' class="navbar-brand ">
            <img src='@Url.Content("~/Content/vy.png")' style="width:160px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02   " aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    @Html.ActionLink("Home", "index", "Home", new { @class = "nav-link" })
                </li>   
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                    @Html.ActionLink("Ticekts", "tickets", "Home", new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                    @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.2019 - Vy</p>
        </footer>
    </div>
</body>
</html>
